.app {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: gray;
}

.app-header {
  background-color: #EFEFEF;
  height: 25px;
  padding: 20px;
  color: white;
}

.page-heading {
  width: inherit;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.go-to-cart {
  float: right;
}

.navigate-to-cart {
  margin-left: 5px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: #0099ff;
  color: #ffffff;
  padding: 5px;
  width: 90px;
  height: 36px;
  font-size: 12px;
  outline: 0;
}

.cart-page {
   padding-top: 10px;
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: row wrap;
   align-content: flex-end;
   justify-content: space-between;
}

.cart-page-heading {
  float: left;
  font-size: 20px;
}

.app-title {
  display: inline;
  font-weight: 600;
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
}

.checkout-container {
  display: flex;
}

.left-container {
  display: flex;
  flex: 2 0 0;
}

.right-container {
  display: flex;
  flex: 1 0 0;
}

.col-8x {
   display: inline-block;
   width: 700px;
}

.col-4x {
  display: inline-block;
  padding: 10px;
  width: 300px;
}

.summary-body {
  display: flex;
}

.summary-headings {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}

.cart-item {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;  
}

.sticky-box {
  top: 0;
  position: sticky;
  padding-left: 8px;
  width: 300px;
  border: 1px solid lightgray;
}

.sticky-body {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.total-row, .item-count-row, .discount-row, .order-total, .type-discount-row {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.order-total {
  border-top: 1px solid lightgray;
}

.total-row {
  border-bottom: 1px solid lightgray;
}
