.app {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: gray;
}

.app-header {
  background-color: #EFEFEF;
  height: 25px;
  padding: 20px;
  color: white;
}

.page-heading {
  width: inherit;
  border-bottom: 1px solid gray;
}

.cart-page {
  padding-top: 10px;
}

.cart-page-heading {
  float: left;
  font-size: 20px;
}

.app-title {
  display: inline;
  font-weight: 600;
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
}